button {
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
  color: inherit;
  border-radius: 0px;
  font-size: inherit;
}

.spinner-custom {
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  text-align: center;
}
